<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title><%= @a.name %> - login</title>
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body class="body_index">
		<div class="header_index">
			<div class="header_img">
				<img src="/ruby.png" width="100px" height="100px" alt="logo" />
			</div>
			<div class="header_text">
			Authentification service
			</div>
		</div>
		<div class="effect">&nbsp;</div>
		<div class="index_content">
			<div class="box_appli">
				<div class="appli_intro">
				  Application use this authentification service.
				  The authentification service is the best way to connect you at your favorite applications.
				</div>
				<div class="appli_login_form">
					<p class="error">
					  <% if @u %>
					  <%= "Invalid login/password" %>
				          <% end %>
				        </p>
					<form method="post" action="/<%= @a.name %>/session">
						<label>Login : </label>
						<input type="text" name="user[login]" value="<%= if @u; @u.login end %>"/>
						<br /><br />
						<label>Password : </label>
						<input type="password" name="user[password]" />
						<input type="hidden" name="origin" value="<%= @or %>" />
						<input type="hidden" name="secret" value="<%= @s %>" />
						<br />
						<br />
						<div>
							<input type="submit" value="Sign in" />
						</div>
						<p class="signup">Don't have an account? <a class="red" href="user/new">Sign up</a>. </p>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>	
